                                                            Data Science masters Assignment 1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [36]:
# Answwer 1
s = "hello sir"
l = [1,2,3,"Pw Skills",5.4,8+7j]
f  = 4.53
t = (1,2,[2,3,4])
print(s , type(s))
print(l , type(l))
print(f ,type(f))
print(t , type(t))

hello sir <class 'str'>
[1, 2, 3, 'Pw Skills', 5.4, (8+7j)] <class 'list'>
4.53 <class 'float'>
(1, 2, [2, 3, 4]) <class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [40]:
#Answer 2
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['D' , 'ML' , 'Python']
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [42]:
# Answer 3
# (i) This operator is use to divide two operands.This gives output of float type.
print(10/2)
# (ii) This operator is use to find remainder between two operands.
print(10%2)
# (iii) This operator is use for integeral division two operands.This gives output of Integer type.
print(10//2)
# (iv) This operator is use to find exponentiation or power.
print(12**2)

5.0
0
5
144

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [43]:
# Answer 4
li = [1,2,3,"PW",4,4.6,"Skills",7+9j,True,False]
for i in li:
    print(f"The element is {i} and its datatype is {type(i)}.")

The element is 1 and its datatype is <class 'int'>.
The element is 2 and its datatype is <class 'int'>.
The element is 3 and its datatype is <class 'int'>.
The element is PW and its datatype is <class 'str'>.
The element is 4 and its datatype is <class 'int'>.
The element is 4.6 and its datatype is <class 'float'>.
The element is Skills and its datatype is <class 'str'>.
The element is (7+9j) and its datatype is <class 'complex'>.
The element is True and its datatype is <class 'bool'>.
The element is False and its datatype is <class 'bool'>.

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [50]:
# Answer 5
a = int(input("Enter the number a"))
b = int(input("Enter the number b"))
count=0
if a%b!=0:
    print("Not Divisible")
else:
    while(a%b==0):
        count = count+1
        a = a//b
    print("Number of times divisible is ", count)

Enter the number a 32
Enter the number b 2

Number of times divisible is  5

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [52]:
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in li:
    if(i%3==0):
        print(f"Element {i} is divisible  by 3.")
    else:
        print(f"Element {i} is not divisible by 3.")

Element 1 is not divisible by 3.
Element 2 is not divisible by 3.
Element 3 is divisible  by 3.
Element 4 is not divisible by 3.
Element 5 is not divisible by 3.
Element 6 is divisible  by 3.
Element 7 is not divisible by 3.
Element 8 is not divisible by 3.
Element 9 is divisible  by 3.
Element 10 is not divisible by 3.
Element 11 is not divisible by 3.
Element 12 is divisible  by 3.
Element 13 is not divisible by 3.
Element 14 is not divisible by 3.
Element 15 is divisible  by 3.
Element 16 is not divisible by 3.
Element 17 is not divisible by 3.
Element 18 is divisible  by 3.
Element 19 is not divisible by 3.
Element 20 is not divisible by 3.
Element 21 is divisible  by 3.
Element 22 is not divisible by 3.
Element 23 is not divisible by 3.
Element 24 is divisible  by 3.
Element 25 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [56]:
#Answer 7
# Mutable Data types --> Data types whose content can be changed after initialisation are mutable data types.
#Immutable data types --> Data types whose content can not be changed after intialisation are immutable data types.
li = [1,1,2,3,4,5]

print("Before updation ",li)
li[0] = 0
print("After updation ",li)
s = "Hello"
print(s)
s[0] = 'G'
print(s)    # showing error as it can not be changed

Before updation  [1, 1, 2, 3, 4, 5]
After updation  [0, 1, 2, 3, 4, 5]

TypeError: 'str' object does not support item assignment